main,
.service-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

p {
  text-align: center;
  padding: 10px;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.input-row > * {
  flex: 1;
}

@media screen and (max-width: 1280px) {
  main {
    padding-inline: 1rem;
  }

  .input-row {
    flex-direction: column;
  }
}
